.container {
  max-width: 1540px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 35px;
  padding-left: 5px;
  border-bottom: 1px solid #e1e1e1;
  .homeContainer {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
    max-width: 140px;
    .homeLogo {
      width: 40px;
      height: 40px;
      background-color: #e2e2ea;
      border-radius: 8px;
    }
    .homelink {
      text-decoration: none;
      color: #11142d;
      font-family: 'Mulish';
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      position: relative;
    }
  }
  .profileContainer {
    max-width: 215px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    .bell {
      width: 20px;
      fill: #9a9ab0;
      cursor: pointer;
    }
    .profileImg {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #C4C4C4;
    }
    .profileContent {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: space-between;
      .name {
        color: #11142d;
        font-family: 'Mulish';
        font-weight: 700;
        font-size: 16px;
        line-height: 19.2px;
        cursor: pointer;
      }
      .job {
        color: #9a9ab0;
        font-size: 12px;
        font-family: 'Mulish';
      }
    }
  }
}
